*,*:before,*:after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


html,body{
	font-size: 62.5%;
	height: 100%;
	overflow: hidden;
}

input,button{
	outline: none;
	border: none;
}

.title{
	font-weight: 200;
	text-align: center;
	font-size: 40px;
	color: 	#DDDDDD;
	padding-top: 80px;
	font-family: Heveltica Neue;
}
.title2{
	font-weight: 200;
	text-align: center;
	font-size: 24px;
	color: 	#DDDDDD	;
	font-family: Heveltica Neue;
}
.cont{
	background-image: url(bg3.jpg);
	background-size: cover;
	position: relative;
	height: 100%;
	overflow: auto;
	font-family:"Open Sans", sans-serif;
}

.demo{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15rem;
  	margin-top: -26.5rem;
	width: 30rem;
	height: 50rem;
	overflow: hidden;
}


.login{
	position: relative;
	height: 100%;
	/* background: -webkit-linear-gradient(to bottom, rgba(146,135,187,0.8)0%,rgba(0, 0, 0, 0.6)100%); */
	background: linear-gradient(to bottom, rgba(1,120,140,0.6)0%,rgba(0, 12, 0, 0.6)100%);
}


.login__form{
	 position: absolute;
	 top: 50%;
	 left: 0;
	 width: 100%;
	 height: 50%;
	 padding: 1.5rem 2.5rem;
	 text-align: center;
}



.login__row{
	height: 5rem;
	padding-top: 1rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}

.login__input{
	display: inline-block;
	widows: 22rem;
	height: 100%;
	padding-left: 1.5rem;
	font-size: 1.5rem;
	background: transparent;
	color: #FDFCFD;
}


.login__submit{
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	width: 100%;
	height: 4rem;
	margin: 5rem 0 2.2rem;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3rem;
	font-size: 1.5rem;
	background-color:#FF7744;
}



i{
	font-size: 20px;
	color:#FDFCFD;
	opacity: .7;

}


















