@import "compass/reset";
@import "compass/css3";

$navbar-color: steelblue;
$title-bg: #51e980;
$icon-color: #1abc9c;
$button-color: #3ac569;
$ggr:#51e980;
$b:#58f;
$black: #231F20;
$mainbg: #f2f2f2;


body{
  magin: 0;
  padding: 0;
}

@mixin transition($in){
    transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
}

@mixin transform($in){
  transform:$in;
  -ms-transform:$in;
  -o-transform:$in;
  -webkit-transform:$in;
  -moz-transform:$in;
}

@mixin box-shadow($in) {
  box-shadow:$in;
  -ms-box-shadow:$in;
  -o-box-shadow:$in;
  -webkit-box-shadow:$in;
  -moz-box-shadow:$in;
}



/*Overlay Menu*/
.overlay-menu{
  background: rgba(48,68,83,0.9);
  color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding: 50px 0;
  opacity: 0;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.5s;
    
}
.open{
  z-index: 5;
  opacity: 1;
  transform: translateY(0%);
}

.overlay-menu ul {
  font-size: 1.5rem;
}
.overlay-menu ul li{
  padding: 1rem;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/****Nav****/
span.bars{
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background-color: #000;
    border-radius: 2px;
  }

#togg_menu{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-top: 13px;
  margin-left: 10px;
  &:focus~.megaMenu{
    @include transform(translateX(0px));
  }
}

header{
  width: 100%;
  height:60px;
  

  .megaMenu{
    @include transform(translateX(-270px));
    @include transition(all 0.3s ease-in-out);
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgba(35, 31, 32, 1);
    position: fixed;
    width: 250px;
    height: 100%;
    padding-top: 50px;
    z-index:100;
    border-radius: 2px solid #ddd;
    // @include box-shadow(2px 2px 80px 3px #000); 
  
  ul{
    padding: 0;
    margin: 0;
    

  }

  li{
    &.title{
      border-top: none;
      h1{
      font-weight: 100;
      font-family:Helvetica, sans-serif;
      color:#FFF;
      font-size: 30px;
    }
    }
    display: block;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid lighten($black, 20%);
    
    a{
      z-index:1000;
      color:lighten($black, 20%);
      padding: 15px 0;
      width: 90%;
      text-decoration:none;
      display:inline-block;
      @include transition(all 0.3s ease-in-out);
      
      &:hover{
        color:$ggr;
      }
    }
    &:hover{
      border-ledt: 5px solid $ggr;
    }
  }
}

}





/****End of Nav****/

/****Pop up****/
.popup {
  opacity: 0.8;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: 500px;
  position: relative;
  transition: all 5s ease-in-out;

  h1{
    text-align: center;
    font-size: 28px;
    color: #999;
  }
}

.popup h2 {
  font-size: 20px;
  padding:10px 0 10px 0;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  

}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; 
}
.popup .close:hover {
  color: #06D85F;
}

/****表單輸入****/
.popup .content {
  text-align: center;
  max-height: 100%;
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;

  input[type='submit']{
    opacity: .8;
    width:100px;
    border: 0 none;
    border-radius: 24px;
    padding: 12px 18px;
    margin: 10px;
    line-height: 1.3;
    font-size: 15px;
    color: #FFF;
    font-weight: 500;

    background-color:$button-color;
  }    

  .group{

      position: relative;
      margin-top: 20px;
      margin-bottom: 45px;
      
      .icon{ 
        color: $icon-color;
        font-size:25px;
        position: absolute;
        left: -40px;
        top: 10px;
      }

      input[type='text']{
        padding: 10px 10px 10px 5px;
        font-size: 18px;
        display: block;
        width: 200px;
        border: none;
        border-bottom: 1px solid #757575;

        &:focus{
          outline: none;
        }
      }
      
      select{
        width: 200px;
        font-size: 18px;
        height: 2.0rem;
        padding: 10px 10px 10px 5px;
        background: none;
        border: none;
        line-height: 1.6;
        box-shadow: none;
        color: #999;
        &:focus{
          outline: none;
        }
      }

      label{
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
      }
      
      input:focus ~ label, input:valid ~ label    {
        top:-20px;
        font-size:14px;
        color:#5264AE;
       }
      .bars{
        position: relative;
        background-color: #757575;
        display: block;
        width: 200px;
        height: 1px;
        
          }
      }


  // End of Group
}


/****End of Pop up****/

.main-header,
.main-nav {
  display: flex;
  align-items: center;
}
.main-header{
	background: $navbar-color;
	color: #FFF;
	height: 68px;
	padding: 10px;
	justify-content: space-between;
}
/****Layout****/
// .main-container{
// 	height: 100vh;
// 	background-color: $mainbg;
// }
.item-view{
  width: 100%;
  opacity: .8;
	overflow: scroll;
	margin-top: 30px;
	height: 600px;
	background-color:#fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);

	.title{
		padding:10px 0 10px 0;
		background-color: $title-bg;
		h1{	
			font-weight: 100;
			padding-left: 20px;
			color:lighten(white, 60%);
			font-size: 25px;
			text-align: left;
			}
	}
	.button-box{
		padding-top: 10px;
    margin-left: 20px;
		text-align: left;
	}
	.table-box{
		margin-top: 20px;

    .table-wrap{
      padding: 5px 0 5px 0;
      border: 1px solid;
      width: 95%;
      margin: 0 auto;
    }
	}
}






