@import "compass/reset";
@import "compass/css3";
@import "_order-view-layout";

$input-size: 200px;
$font-size: 50px;
$navbar-color: steelblue;
$title-bg: #51e980;
$icon-color: #1abc9c;
$button-color: #3ac569;
$ggr:#51e980;
$b:#58f;
$black: #231F20;
$mainbg: #f2f2f2;


/*

1. nav
2. account
3. category
4. layout


*/



/****nav****/

/**
 *  Curently only supported in Webkit
 *  input[type="number"] support coming to Firefox 28 or 29
 *  https://jwatt.org/2013/12/11/input-type-number-coming-to-mozilla
 *  https://bugzilla.mozilla.org/show_bug.cgi?id=344616
 */




body{
	padding: 0;margin: 0;height: 100%;
	font-family: "Heveltica Neue","微軟正黑體";
}



.order-view{
	width: 100%;
	height: 500px;
	border-right:1px solid #DCDCDC;
	overflow: scroll;
	.menu-item{
	
		width: 100%;
		height: 100px;
		font-size: 16px;
		border-bottom: 2px solid #DCDCDC;
		position: relative;
		.row{
			 -webkit-box-sizing: border-box;
	    	 -moz-box-sizing: border-box;
	          box-sizing: border-box;	
	          input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
				    -webkit-appearance: none;
				    margin: 0;

				}
				input[type="number"] {
				    -moz-appearance: textfield;
				    width: 30px;
				    height: 35px;
					font-size: 25px;
				}
				 p{
					padding-top: 63*0.5px;
					}	
				span{
					&.icon{
						padding-left: 15px;
						color:#696969;
						font-size: 24px;
						cursor: pointer;
					}				
					padding-top: 55*0.5px;
				}	
		}   /*End of row*/
		.pricebox{
			width: 70px; 
			border: none;
			background: none;
			font-size: 25px;
			margin-top: 48*0.5px;
			margin-left: 80px;
		}
	}     /*End of menu-item */	
}      /*end of order-view*/




/****account****/

#acount{
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #87CEFA;
			font-family: "Heveltica Neue";
			font-weight:200;
	
	.money{
		
		
		p{	

			font-size: 28px;
			display: inline;
		}

		input[type="text"]{
			
			width: 100px;
			background-color: #87CEFA ;
			border: none;
			font-size: 28px;
		} 
	}

	.text-box{
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}
	
	.button-box{
		margin-right: 20px;
		margin-top: 20px;
		float: right;

	}



	.btn{
		margin-top: 10px;
		margin-left: 20px;
		cursor: pointer;
		font-size: 28px;
		width: 150px;
		height: 58px;
	}

}



/****category****/

.right{
	
}

#category{
	border-bottom: 2px solid #DCDCDC;
	overflow: scroll;
	width: 100%;
	height: 200px;
	.item{
		margin-top: 25px;
		padding-left: 30px;
		font-size: 18px;	
	}
}

#order-main-wrap{
	

	
	.meal-item{
		
		color:black;
		position: relative;
		border-bottom: 2px solid #DCDCDC;
		padding-left: 15px;
		padding-top:15px;
		padding-bottom:15px;
		h3,p{display: inline;}

		h3{
			padding-left: 15px;
		}
		p{	
			position: absolute;
			right: 20px;
		}

		i{
			font-size: 20px;
			color:#000;

		}
	}
}
/*
.hiden{
	display: none;
}
*/
//整體設定

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

* {
  font-family: Helvetica,sans-serif;
  color: #888;
}

a {
  text-decoration: none;
  display: inline-block;
}

#popup1{
	margin-left: -90px;
	margin-top: -140px;
	width: 180px;
	height: 280px;
	position: absolute; 
	z-index: 100;
	background-color: red;
	left: 50%;
	top: 50%;
	display: none;
}

#export{
	display: none;
}

