@charset "UTF-8";
/* line 5, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/****Nav****/
/* line 10, ../sass/meal.scss */
nav {
  padding-right: 20px;
}

/* line 13, ../sass/meal.scss */
.menu-icon {
  letter-spacing: 2px;
  left: 20px;
  z-index: 20;
  width: 50px;
  height: 50px;
  margin: 0 0 0 auto;
  position: fixed;
  cursor: pointer;
  transition: background 0.5s;
}

/* line 26, ../sass/meal.scss */
.menu-icon span, .menu-icon span:before, .menu-icon span:after {
  background-color: #fff;
  float: left;
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  position: absolute;
  left: 15%;
  top: 50%;
  display: block;
  content: '';
  transition: all 0.5s ease-in-out;
}
/* line 41, ../sass/meal.scss */
.menu-icon span:before {
  background-color: #fff;
  left: 0;
  top: -10px;
}
/* line 46, ../sass/meal.scss */
.menu-icon span:after {
  background-color: #fff;
  left: 0;
  top: 10px;
}

/* line 54, ../sass/meal.scss */
.active {
  background: #304453;
}
/* line 57, ../sass/meal.scss */
.active span {
  background-color: transparent;
}
/* line 60, ../sass/meal.scss */
.active span:before, .active span:after {
  top: 0;
}
/* line 64, ../sass/meal.scss */
.active span:before {
  transform: rotate(135deg);
}
/* line 67, ../sass/meal.scss */
.active span:after {
  transform: rotate(-135deg);
}

/*Overlay Menu*/
/* line 75, ../sass/meal.scss */
.overlay-menu {
  background: rgba(48, 68, 83, 0.9);
  color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding: 50px 0;
  opacity: 0;
  text-align: center;
  transform: translateY(-100%);
  transition: all 0.5s;
}

/* line 92, ../sass/meal.scss */
.open {
  z-index: 5;
  opacity: 1;
  transform: translateY(0%);
}

/* line 98, ../sass/meal.scss */
.overlay-menu ul {
  font-size: 1.5rem;
}

/* line 101, ../sass/meal.scss */
.overlay-menu ul li {
  padding: 1rem;
}

/* line 104, ../sass/meal.scss */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

/* line 115, ../sass/meal.scss */
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/****End of Nav****/
/****Pop up****/
/* line 122, ../sass/meal.scss */
.popup {
  opacity: 0.8;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: 500px;
  position: relative;
  transition: all 5s ease-in-out;
}
/* line 133, ../sass/meal.scss */
.popup h1 {
  text-align: center;
  font-size: 28px;
  color: #999;
}

/* line 140, ../sass/meal.scss */
.popup h2 {
  font-size: 20px;
  padding: 10px 0 10px 0;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

/* line 149, ../sass/meal.scss */
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* line 159, ../sass/meal.scss */
.popup .close:hover {
  color: #06D85F;
}

/****表單輸入****/
/* line 164, ../sass/meal.scss */
.popup .content {
  text-align: center;
  max-height: 100%;
  width: 50%;
  margin: 0 auto;
  padding-top: 15px;
}
/* line 171, ../sass/meal.scss */
.popup .content input[type='submit'] {
  opacity: .8;
  width: 100px;
  border: 0 none;
  border-radius: 24px;
  padding: 12px 18px;
  margin: 10px;
  line-height: 1.3;
  font-size: 15px;
  color: #FFF;
  font-weight: 500;
  background-color: #3ac569;
}
/* line 186, ../sass/meal.scss */
.popup .content .group {
  position: relative;
  margin-top: 20px;
  margin-bottom: 45px;
}
/* line 192, ../sass/meal.scss */
.popup .content .group .icon {
  color: #1abc9c;
  font-size: 25px;
  position: absolute;
  left: -40px;
  top: 10px;
}
/* line 200, ../sass/meal.scss */
.popup .content .group input[type='text'] {
  padding: 10px 10px 10px 5px;
  font-size: 18px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #757575;
}
/* line 208, ../sass/meal.scss */
.popup .content .group input[type='text']:focus {
  outline: none;
}
/* line 213, ../sass/meal.scss */
.popup .content .group select {
  width: 200px;
  font-size: 18px;
  height: 2.0rem;
  padding: 10px 10px 10px 5px;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
  color: #999;
}
/* line 223, ../sass/meal.scss */
.popup .content .group select:focus {
  outline: none;
}
/* line 228, ../sass/meal.scss */
.popup .content .group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 241, ../sass/meal.scss */
.popup .content .group input:focus ~ label, .popup .content .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
/* line 246, ../sass/meal.scss */
.popup .content .group .bars {
  position: relative;
  background-color: #757575;
  display: block;
  width: 200px;
  height: 1px;
}

/****End of Pop up****/
/* line 263, ../sass/meal.scss */
.main-header,
.main-nav {
  display: flex;
  align-items: center;
}

/* line 268, ../sass/meal.scss */
.main-header {
  background: steelblue;
  color: #FFF;
  height: 68px;
  padding: 10px;
  justify-content: space-between;
}

/****Layout****/
/* line 276, ../sass/meal.scss */
.main-container {
  height: 100vh;
  background-color: #F2F2F2;
}

/* line 280, ../sass/meal.scss */
.item-view {
  overflow: scroll;
  margin-top: 30px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
/* line 287, ../sass/meal.scss */
.item-view .title {
  padding: 10px 0 10px 0;
  background-color: #1abc9c;
}
/* line 290, ../sass/meal.scss */
.item-view .title h1 {
  font-weight: 100;
  padding-left: 20px;
  color: #fff;
  font-size: 36px;
  text-align: left;
}
/* line 298, ../sass/meal.scss */
.item-view .button-box {
  padding-top: 10px;
  margin-left: 20px;
  text-align: left;
}
/* line 303, ../sass/meal.scss */
.item-view .table-box {
  margin-top: 20px;
}
/* line 306, ../sass/meal.scss */
.item-view .table-box .table-wrap {
  padding: 5px 0 5px 0;
  border: 1px solid;
  width: 95%;
  margin: 0 auto;
}
