<nav>
	<button id="togg_menu">
	<span class="bars"></span>
	<span class="bars"></span>
	<span class="bars"></span>
	</button>

	<ul class="megaMenu">

		<li class="title"><h1>Menu</h1></li>
		<li class="stuff"><a href="">點餐</a></li>
		<li class="stuff"><a href="">新增餐點</a></li>
		<li class="stuff"><a href="">新增類別</a></li>
		<li class="stuff"><a href="">營收</a></li>
	</ul>
</nav>